$color-character: rgb(227, 61, 43);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient($color-character, rgba(248, 221, 221, 0.747), rgba(0, 0, 0, 0.575));
    border-radius: 20%;
}

.main-wrapper {
    .stage-background {
        width: 100vw;
        height: 100vh;
        background-image: url(./img/backgrounds/background-foreground.jpg);
        background-size: cover;
        background-position: bottom;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        transition: background 2s;

        .character {
            width: 23%;
            height: 80%;
            margin-right: 130px;
            background-image: url(./img/the-character.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        .wrapper-chat-block {
            width: 65vw;
            height: 100vh;
            position: fixed;
            left: 0px;
            display: flex;
            align-items: center;

            .button-back {
                width: 75px;
                height: 60px;
                position: fixed;
                left: 90px;
                bottom: 40px;
                padding: 5px;
                border: 2px solid rgb(255, 255, 255);
                background-color: transparent;
                border-radius: 7px;
                cursor: pointer;
                display: none;
                transition: 0.9s;

                &::before {
                    content: "←";
                    color: rgb(255, 255, 255);
                    font-size: 40px;
                    font-weight: 900;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                &:active {
                    box-shadow: inset 1px 1px 5px black;
                    border: 2px solid rgb(255, 0, 0);
                }
            }

            .message-window-block {
                background-color: rgba(0, 0, 0, 0.548);
                border: 1px solid rgb(0, 0, 0);
                border-radius: 5px;
                width: 60%;
                height: 93%;
                margin: 0px 0 0 200px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .chat-block {
                    width: 100%;
                    height: 81%;
                    padding: 0 0 15px 0;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;

                    .message-user,
                    .message-bot {
                        width: fit-content;
                        height: fit-content;
                        margin: 30px 20px 0 20px;
                        padding: 12px;
                        font-size: 18px;
                        border: 1px solid rgb(0, 0, 0);
                    }

                    .message-user {
                        background-color: #fff;
                        border-radius: 30px 30px 0 30px;
                        align-self: flex-end;
                    }

                    .message-bot {
                        background-color: $color-character;
                        border-radius: 0 30px 30px 30px;
                    }
                }

                .wrapper-input-block {
                    width: 92%;
                    height: 17%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .default-messages {
                        width: 100%;
                        height: 78%;
                        display: flex;
                        overflow-x: scroll;

                        .text-default-messages {
                            width: fit-content;
                            border: 2px solid rgb(0, 0, 0);
                            background-color: #fff;
                            margin: 15px 13px;
                            padding: 10px 19px;
                            border-radius: 50px;
                            font-size: 18px;
                            cursor: pointer;
                            white-space: pre;
                        }
                    }

                    .input-block {
                        background-color: rgb(255, 255, 255);
                        border: 1px solid rgb(0, 0, 0);
                        width: 100%;
                        height: 45%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 5px;

                        .input-message {
                            width: 92%;
                            height: 86%;
                            outline: none;
                            text-align: center;
                            border: none;
                        }

                        .input-block__send-message {
                            color: $color-character;
                            width: 8%;
                            height: 86%;
                            border: none;
                            background-color: transparent;
                            font-size: 23px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .modal-window {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.562);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        display: none;

        .information-about {
            width: 800px;
            height: 700px;
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(255, 19, 19);
            display: none;
        }
    }
}
